{% extends "base.html" %}

{% block title %}RSVP{% endblock %}

{% block content %}
  <h1>Will you be there?</h1>
  {% if needs_code %}
    <p>Enter your invitation code.</p>
    <form>
      <div>
        <label for="code">Invitation code</label>
        <input type="text" name="code" required{% if wrong_code %} aria-invalid="true" aria-errormessage="code-error"{% endif %}>
        {% if wrong_code %}
          <span id="code-error" role="alert">Invalid code, please provide the code on your invitation.</span>
        {% endif %}
      </div>
    </form>
  {% else %}
    <form x-data="{ attending: true, numGuests: 1 }" method="post">
      <section>
        <h2>Attendance</h2>
        <p>Let us know if you'll be able to make it.</p>
        <div>
          <label for="attending">Will you be attending?</label>
          <select x-model.boolean="attending" name="attending">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </section>
      <template x-if="attending">
        <section>
          <h2>Contact information</h2>
          <p>We'll use this information to keep you up-to-date on the wedding.</p>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" autocomplete="email" required>
          </div>
        </section>
      </template>
      <template x-if="attending">
        <section>
          <h2>Guests</h2>
          <p>Add all the attending guests here, yourself included.</p>
          <ul>
            <template x-for="(_, index) in numGuests">
              <li>
                <div>
                  <label :for="`guests[${index}][first_name]`">First name</label>
                  <input type="text" :name="`guests[${index}][first_name]`" autocomplete="given-name" required>
                </div>
                <div>
                  <label :for="`guests[${index}][last_name]`">Last name</label>
                  <input type="text" :name="`guests[${index}][last_name]`" autocomplete="family-name" required>
                </div>
                <button type="button" @click="numGuests--" :disabled="numGuests === 1">Remove guest</button>
              </li>
            </template>
          </ul>
          <button type="button" @click="numGuests++">Add a guest</button>
        </section>
      </template>
      <button type="submit">Submit</button>
    </form>
  {% endif %}
{% endblock %}
